h3 {
    color: #9a4168;
    font-size: 2em;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #f4f4f4; 
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* 요소 간의 공간 분배 */
    align-items: center; /* 세로 정렬 */
}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0); /* 흰색 텍스트 */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* 부드러운 호버 애니메이션 */
}

.navbar a:hover {
    background-color: #5b2532; /* 호버 시 어두운 파란색 */
    color: #ffffff; /* 흰색 텍스트 유지 */
}

.navbar .right {
    float: right;
}


.user-info {
    display: flex;
    /* Flexbox 사용 */
    align-items: center;
    /* 수직 중앙 정렬 */
    justify-content: center;
    /* 수평 가운데 정렬 */
}

#helloUser {
    margin: 0;
    line-height: 50px; /* 텍스트의 줄 높이를 이미지 높이와 맞추기 */
}