h3 {
    color: darkgreen;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: bisque;
    overflow: hidden;

}

.navbar a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .right {
    float: right;
}


.user-info {
    display: flex;
    /* Flexbox 사용 */
    align-items: center;
    /* 수직 중앙 정렬 */
    justify-content: center;
    /* 수평 가운데 정렬 */
}

#helloUser {
    margin: 0;
    line-height: 50px; /* 텍스트의 줄 높이를 이미지 높이와 맞추기 */
}