/* 컬러 팔레트 */
:root {
    --color-primary: #ffffff; /* 다크 블루 */
    --color-secondary: #E84545; /* 밝은 레드 */
    --color-accent1: #903749; /* 다크 레드 */
    --color-accent2: #53354A; /* 다크 퍼플 */
    --color-text: #000000; /* 화이트 */
}

/* 스타일 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text);
}

h3 {
    color: var(--color-secondary);
}

.navbar {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px; /* 패딩 추가 */
}

.navbar a {
    color: var(--color-secondary);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* 호버 애니메이션 추가 */
}

.navbar a:hover {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.user-info {
    display: flex;
    align-items: center;
}

#helloUser {
    margin: 0;
    line-height: 1.5; /* line-height를 상대 값으로 변경 */
}
